<style>
    .powerbi-nav {
            background-color: var(--gray);
            padding: 15px 0;
            position: sticky;
            top: 0;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            overflow-x: hidden;
        }
        
    .nav-tabs-powerbi {
        border: none;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .nav-tabs-powerbi .nav-link {
        background-color: transparent;
        border: 2px solid #34495e;
        color: #ecf0f1;
        margin: 0 5px;
        border-radius: 25px;
        padding: 10px 25px;
        font-weight: 600;
        transition: all 0.3s ease;
    }
    
    .nav-tabs-powerbi .nav-link:hover {
        background-color: var(--darkblue);
        border-color: var(--darkblue);
        color: white;
        transform: translateY(-2px);
    }
    
    .nav-tabs-powerbi .nav-link.active {
        background-color: var(--orange);
        border-color: var(--orange);
        color: white;
    }
</style>

<div class="powerbi-nav">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-tabs-powerbi">
            <li class="nav-item">
                <a class="nav-link {% if current_sheet == 'None' %}active{% endif %}" href="/powerbi">📈 Visão Geral</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_sheet == 'principal' %}active{% endif %}" href="{{url_for('skeleton_waiter', sheet_name='principal')}}">🧭 Aba Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_sheet == 'pulverizadores' %}active{% endif %}" href="{{url_for('skeleton_waiter', sheet_name='pulverizadores')}}">🧑‍🌾 Pulverização</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_sheet == 'podas' %}active{% endif %}" href="{{url_for('skeleton_waiter', sheet_name='podas')}}">✂️ Poda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_sheet == 'fertilizantes' %}active{% endif %}" href="{{url_for('skeleton_waiter', sheet_name='fertilizantes')}}">🥬 Fertilizante</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_sheet == 'safras' %}active{% endif %}" href="{{url_for('skeleton_waiter', sheet_name='safras')}}">🫘 Safra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_sheet == 'cultivos' %}active{% endif %}" href="{{url_for('skeleton_waiter', sheet_name='cultivos')}}">🥑 Cultivo</a>
            </li>
        </ul>
    </div>
</div>