{% extends "base.html" %}

{% block container_class %}container-fluid p-0{% endblock %}

{% block content %}

{% include "./components/header.html" %}

{% include "./components/navigation.html" %}

<div class="content-wrapper">
    <div class="dashboard-content">
        <div class="container-fluid">

 

    <!-- Gráficos full-width -->
    <div class="row ">
        {% for chart in charts %}
        <div class="col-12 mb-4 ">
            <div class="card border-0 shadow-sm h-100 ">
                <div class="card-header bg-light">
                    <h5 class="mb-0">{{ chart.title }}</h5>
                </div>
                <div class="card-body p-0 d-flex justify-content-center">
                    <div class="chart-container " style="width:80%;">
                        <div id="principal-chart-{{ loop.index }}" class="plotly-chart" style="min-height:520px;width:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    {% for chart in charts %}
    var c{{ loop.index }} = {{ chart.chart|safe }};
    Plotly.newPlot('principal-chart-{{ loop.index }}', c{{ loop.index }}.data, c{{ loop.index }}.layout, {
        responsive:true, displaylogo:false
    });
    {% endfor %}
    window.addEventListener('resize', function(){
        {% for chart in charts %}
        Plotly.Plots.resize(document.getElementById('principal-chart-{{ loop.index }}'));
        {% endfor %}
    });
});
</script>
{% endblock %}


